.animation {
    width: 670px;
    height: 23px;
    background-image: url("./img/new1.png");
    background-repeat: no-repeat;
    animation-name: keyframes-split;
    animation-duration: 0.12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@keyframes keyframes-split {
    0% {
        width: 670px;
        height: 23px;
        background-image: url("./img/new1.png");
    }
    33.33% {
        background-image: url("./img/new2.png");
    }
    66.67%,
    100% {
        background-image: url("./img/new3.png");
    }
}