.gka-animation {
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center center;
    
    /* background-size: contain;*/
    
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    /* 只播放一次，播放停止到最后一帧*/
    /* animation-iteration-count: 1; */ 
}

.gka-animation {
    animation-name: gka-keyframes;
    animation-duration: 0.32s;
    animation-timing-function: steps(1);
}

@-webkit-keyframes gka-keyframes {
    0%{
        background-image: url("img/gka-1.png");
    }

    14.29%{
        background-image: url("img/gka-2.png");
    }

    28.57%{
        background-image: url("img/gka-3.png");
    }

    42.86%{
        background-image: url("img/gka-4.png");
    }

    57.14%{
        background-image: url("img/gka-5.png");
    }

    71.43%{
        background-image: url("img/gka-3.png");
    }

    85.71%{
        background-image: url("img/gka-2.png");
    }

    100.00%{
        background-image: url("img/gka-6.png");
    }

}
