.gka-wrap {
    width: 400px;
    height: 300px;
}

.animation {
    width: 400px;
    height: 300px;
    background-image: url("./img/a_a01.png");
    background-size: 400px 300px;
    background-repeat: no-repeat, no-repeat;
    animation-name: keyframes-a, keyframes-b;
    animation-duration: 0.36s, 0.44s;
    animation-delay: 0s, 0.36s;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: steps(1), steps(1);
}

@keyframes keyframes-a {
    0% {
        width: 400px;
        height: 300px;
        background-image: url("./img/a_a01.png");
        background-size: 400px 300px;
    }
    11.11% {
        background-image: url("./img/a_a02.png");
    }
    22.22% {
        background-image: url("./img/a_a03.png");
    }
    33.33% {
        background-image: url("./img/a_a04.png");
    }
    44.44% {
        background-image: url("./img/a_a05.png");
    }
    55.56% {
        background-image: url("./img/a_a06.png");
    }
    66.67% {
        background-image: url("./img/a_a07.png");
    }
    77.78% {
        background-image: url("./img/a_a08.png");
    }
    88.89%,
    100% {
        background-image: url("./img/a_a09.png");
    }
}

@keyframes keyframes-b {
    0% {
        width: 400px;
        height: 300px;
        background-image: url("./img/b_a10.png");
        background-size: 400px 300px;
    }
    9.09% {
        background-image: url("./img/b_a11.png");
    }
    18.18% {
        background-image: url("./img/b_a12.png");
    }
    27.27% {
        background-image: url("./img/b_a13.png");
    }
    36.36% {
        background-image: url("./img/b_a14.png");
    }
    45.45% {
        background-image: url("./img/b_a15.png");
    }
    54.55% {
        background-image: url("./img/b_a16.png");
    }
    63.64% {
        background-image: url("./img/b_a17.png");
    }
    72.73% {
        background-image: url("./img/b_a18.png");
    }
    81.82% {
        background-image: url("./img/b_a19.png");
    }
    90.91%,
    100% {
        background-image: url("./img/b_a20.png");
    }
}