.animation {
    width: 661px;
    height: 20px;
    background-image: url("./img/sprites.png");
    margin-left: 6px;
    border-top: 1px solid transparent;
    background-repeat: no-repeat;
    animation-name: keyframes-split;
    animation-duration: 0.12s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: steps(1);
}

@keyframes keyframes-split {
    0% {
        width: 661px;
        height: 20px;
        background-image: url("./img/sprites.png");
        margin-left: 6px;
        border-top: 1px solid transparent;
    }
    33.33% {
        background-position: -661px 0px;
    }
    66.67%,
    100% {
        background-position: -1322px 0px;
    }
}