.gka-base {
    width: 100%;
    height: 0;
    padding-bottom: 100%;

    background-repeat: no-repeat;

    background-size: 600% 100%;

    animation-timing-function: steps(1);
    animation-fill-mode: forwards;

    animation-iteration-count: infinite;

    /* 只播放一次，播放停止到最后一帧*/
    /* animation-iteration-count: 1; */ 
}

.prefix_animation {
    background-image: url(./img/prefix_gka_sprites.png);

    animation-name: prefix_keyframes;
    animation-duration: 0.32s;
}

@-webkit-keyframes prefix_keyframes {
    0%{
        background-position: 0% 0%;
    }
    14.29%{
        background-position: 20% 0%;
    }
    28.57%{
        background-position: 40% 0%;
    }
    42.86%{
        background-position: 60% 0%;
    }
    57.14%{
        background-position: 80% 0%;
    }
    71.43%{
        background-position: 40% 0%;
    }
    85.71%{
        background-position: 20% 0%;
    }
    100.00%{
        background-position: 100% 0%;
    }
}
