.gka-animation {
    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;;

    -webkit-animation: gka_keyframes 0.32s steps(1) infinite;
}

@-webkit-keyframes gka_keyframes {
    0.00%{
        background: url(./gka-sprites.png) -0px -0px;
    }
    12.50%{
        background: url(./gka-sprites.png) -50px -0px;
    }
    25.00%{
        background: url(./gka-sprites.png) -0px -50px;
    }
    37.50%{
        background: url(./gka-sprites.png) -50px -50px;
    }
    50.00%{
        background: url(./gka-sprites.png) -100px -0px;
    }
    62.50%{
        background: url(./gka-sprites.png) -0px -50px;
    }
    75.00%{
        background: url(./gka-sprites.png) -50px -0px;
    }
    87.50%{
        background: url(./gka-sprites.png) -100px -50px;
    }
    99.99999%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
